@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Cadastrar Beneficiário";
}
@section scripts{
    <script>
        var idCliente = @Model.Id;
        var urlPost = '@Url.Action("Incluir", "Beneficiario", new { idCliente=Model.Id })';
        var urlDelete = '@Url.Action("Excluir", "Beneficiario", new { idCliente=Model.Id })';
        var urlBeneficiariosList = '@Url.Action("BeneficiarioList","Beneficiario", new { Model.Id })';
        console.log(urlBeneficiariosList);
        var obj = @Html.Raw(Json.Encode(Model));
    </script>

}
<h2>@Html.Raw(ViewBag.Title)</h2>

@Html.Partial("Forms")
<table id="gridBeneficiarios" class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ben in Model.Beneficiarios)
            {
        <tr>
            <td>@ben.Nome</td>
            <td>@ben.Cpf</td>
            <td>@Html.ActionLink("Alterar", "Alterar", "Beneficiario", new { id = ben.Id}, new { @class = "btn btn-sm btn-primary pull-right" })</td>
            <td>@Html.ActionLink("Excluir", "Excluir", "Beneficiario", new { id = ben.Id}, new { @class = "btn btn-sm btn-primary pull-right" })</td>
        </tr>
                
            }
    </tbody>
</table>