
@{
    ViewBag.Title = "Beneficiarios";
}
@section scripts{
<script>
    var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
    var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';

</script>
    @Scripts.Render("~/bundles/listBeneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.ActionLink("Novo Beneficiario", "Incluir", "Beneficiario", new { }, new { @class= "btn btn-sm btn-primary pull-right" })
<table id="gridBeneficiarios" class="table"></table>