@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/clientes")

}
<h2>@Html.Raw(ViewBag.Title)</h2>

@Html.Partial("Forms")
